// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#article_title
  width: 350px

#article_digest
  width: 550px

#article_content
  width: 850px
  height: 400px

.column_ids_controls
  padding-top: 5px
  > *
    float: left
    margin-right: 20px
